<header class="navbar navbar-fixed-top navbar-inverse">


      <div class="container">
       <%= link_to "sample app", root_path, id: "logo" %>
        <!--リンクを生成している それぞれ引数１，２，３と呼ばれる。-->
        <!--1はテキスト、２はURL（ダミー）、３はオプションハッシュ-->
        <!--＃はとりあえずのダミーとして使われるURL-->
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
        <!--リストアイテムタグliと順不同リストタグulによって作られた、ナビゲーションリンクのリスト-->
  </ul>
</nav>
      </div>

</header>

